@import 'reset/reset';
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Libre+Baskerville:wght@700&family=Open+Sans&family=Poppins&family=Roboto:wght@500;900&display=swap');
$highText: #383838;
$highPink: #F1214F;
body{
    a{
        cursor: pointer;
    }
}
.main{
    display: grid;
    grid-template-columns: 60px auto;

}
// Header 
// Navigation
header{
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        padding-top: 43px;

        .navig-cta{
            color: $highPink;
            font-weight: bold;
        }
        .items{
            display: flex;
            // justify-content: space-between;
            align-items: center;
            width: 1175px;
            li{
            margin-right: 26px;
            padding-bottom: 2px;
            transition-duration: 50ms;
                &:hover{
                    border-bottom: 2px solid black;
                }
            }            
            .active{
                border-bottom: 2px solid black;
            }
            
        }
    }
}

//Intro
.container-large{
    padding: 0 5rem;
}

.masthead-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .masthead-image{
        order: 2;
    }
    .masthead-informations{
        margin-top: 190px;
        min-width: 300px;
        .masthead-salutation{
            h2{
                font-family: 'Metrophobic', sans-serif;
                font-size: 22px;
                line-height: 120%;
            }
        }
        .masthead-intro{
            font-family: 'Roboto', sans-serif;
            color: $highText;
            h1,h2,h3{
                line-height: 120%;
                letter-spacing: -0.08em;
            }
            h1{
                font-size: 102px;
                font-weight: 900;
            }
            h2{
                font-size: 52px;
                font-weight: 500;
            }
            h3{
                font-size: 32px;
                font-weight: 500;
            }
            .pink{
                color: $highPink;
            }
        }
        .masthead-call-to-action{
            margin-top: 44px;
            a{
                display: inline-block;
                font-family: 'Poppins', sans-serif;
                font-size: 20px;
                font-weight: 600;
                padding: 16px 55px;
                background-color: $highPink;
                text-align: center;
                color: #ffff;
                transition-duration: 300ms;
                &:hover{
                    background-color: #ff7f9c;
                }
            }
        }
        order: 1;
    }
}

.contact-infos{
    padding-right: 315px;
    margin-top: -65px;
    margin-bottom: 50px;
    .contact-items{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $highText;
        .sp{
            border: 1px solid $highText;
            height: 52px;
            opacity: 0.5;
        }
        li{
            .contact-title{
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                display: block;
            }
            .contact-info{
                font-family: 'Open Sans', sans-serif;
                font-size: 17px;
            }
        }
    }
}
.second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    .vilogo{
        font-family: 'Libre Baskerville', serif;
        font-size: 52px;
        text-align: center;
        padding-top: 23px;
        padding-left: 26px;
        letter-spacing: -0.08em;
        .vilogo-small-i{
            letter-spacing: -0.09em;
            font-size: 27px;
            color: $highPink;
        }
    }
}
.social-items{
    padding-bottom: 50px;
    .social-item{
        padding-top: 23px;
        width: 1.2rem;
        opacity: 0.5;
    }
}